API_KEY=<Firebase_Api_Key>
AUTH_DOMAIN=<Firebase_Auth_Domain>
PROJECT_ID=<Firebase_Project_Id>
STORAGE_BUCKET=<Firebase_Storage_Bucket>
MESSAGING_SENDER_ID=<Firebase_Messaging_Sender_Id>
APP_ID=<Firebase_App_Id>